<div mat-dialog-content>
    <p class="sum">
        Максималната остатъчна сума е {{maxLimitSum}}лв
    </p>
    <form [formGroup]="form">
    <mat-form-field class="example-full-width field" >
        <mat-label>Въведете сума на претенцията</mat-label>
        <input matInput formControlName="paidSum" (change)="changePaidSum()"> <span style="margin-left:10px;"> лева</span>
    </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="approveClaim()" [disabled]="form.controls.paidSum.errors">Изпрати</button>
</div>
