
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>HealthPro</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Начало</a></li>
          <li><a class="nav-link scrollto" href="/login" *ngIf="authService.isAuth!==true">Твоя профил</a></li>
          <li><a class="nav-link scrollto" href="/my-profile" *ngIf="authService.isAuth==true">Твоя профил</a></li>
          <li><a class="getstarted scrollto" href="insurerData">Направи застарховка</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>