<div class="section">

<div class="card">
    <div class="wrapper header">
    <div class="wrapper-text header-text">
        Статус
    </div>
    <div class="bubble-wrapper ">
      <span class="bubble-text">Приключена</span>
    </div>
    </div>
  
  
      <div class="content">
        <div class="column">
          Претенция номер
        </div>
        <div class="column">
            02254588355223
        </div>
      </div>

      <div class="content">
        <div class="column">
         Застраховано лице
        </div>
        <div class="column">
          Мария Иванова
        </div>
      </div>
  
  
      <div class="content">
        <div class="column">
          Вид на претенцията
        </div>
        <div class="column">
          Извънболнична помощ
        </div>
      </div>

      <div class="content">
        <div class="column">
          Детайли на претенцията
        </div>
        <div class="column">
          Медицинско изследване
        </div>
      </div>
  
  
      <div class="content">
        <div class="column">
          Дата на претенцията
        </div>
        <div class="column">
            11.03.2023
        </div>
      </div>
  
  
      <div class="content">
        <div class="column">
          Дата на плащане
        </div>
        <div class="column">
            1.04.2023
        </div>
      </div>
  
  
      <div class="content">
        <div class="column">
          Платена сума
        </div>
        <div class="column">
          200лв
        </div>
      </div>
  
  
  
  
    <div class="wrapper content">
      <div class="wrapper-text column">
        Прикачени документи
      </div>
    </div>
  
  
  </div>
</div>
  