.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 8px #00000029;
    border: 1px solid #4e4039;
    border-radius: 5px;
    opacity: 1;
    width: 382px;
  }
  
  
  
  
  .wrapper{
    background-color: #eb5d1e;
    height: 40px;
    display: flex;
  }
  
  
  .header{
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    padding-left: 13px;
  }
  
  
  .content{
    display: flex;
    font-weight: bold;
  }
  
  
  .column {
    flex: 50%;
    padding: 9.5px;
    padding-left: 13px !important;
  }
  
  
  .wrapper-text{
    text-align: left;
    font: normal normal bold 12px/16px ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    /* max-width: 154px; */
  }
  
  
  .header-text{
      max-width: 154px;
  }
  
  
  .bubble-wrapper{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    max-width: 104px;
    max-height: 21px;
    height: 21px;
    width: 104px;
    text-align: center;
  }
  
  
  .bubble-text{
    text-align: left;
    font: normal normal bold 14px/20px ;
    letter-spacing: 0px;
    color: #eb5d1e;
    opacity: 1;
    text-align: center;
  }
  
  
  .desc-text{
    text-align: left;
    font: normal normal bold 12px/31px ;
    letter-spacing: 0px;
    color: #4e4039;
    opacity: 1;
  }
  
  
  .data-text{
    text-align: left;
    font: normal normal bold 12px/31px ;
    letter-spacing: 0px;
    color: #4e4039;
    opacity: 1;
  }
  