<section class="vh-100" class="wrapper">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin: 25px">
          <div class="card-body p-md-5">
            <div class="datepickers">
                <mat-form-field appearance="fill" class="datepicker">
                  <mat-label>Начална дата на застраховката</mat-label>
                  <input matInput [matDatepicker]="startDate" />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="startDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
           
                <mat-form-field appearance="fill" class="datepicker">
                  <mat-label>Крайна дата на застраховката</mat-label>
                  <input matInput [matDatepicker]="endDate" disabled />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="endDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="row align-items-center colums-wrapper">
              <p class="section-title">Допълнителни предложения</p>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><mat-icon>airplanemode_active</mat-icon></div>
                    <h4 class="title"><a href="">Пътуване в чужбина</a></h4>
                    <button type="button" class="btn add">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
            </div>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><mat-icon>supervised_user_circle</mat-icon></div>
                    <h4 class="title"><a href="">Второ медицинско мнение</a></h4>
                    <button type="button" class="btn add" >
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
            </div>
              <div class="col">
                <div class="align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><span class="material-icons">medication</span></div>
                    <h4 class="title"><a href="">Увеличен пакет за здравни стоки</a></h4>
                    <button type="button" class="btn add" >
                       <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
            </div>
                <div class="col">
                  <div class="align-items-stretch">
                    <div class="icon-box">
                      <div class="icon"><mat-icon>domain icon</mat-icon></div>
                      <h4 class="title"><a href="">Избор на лекарки екип</a></h4>
                      <button type="button" class="btn add" >
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="button" class="btn submit" (click)="continue()">
                Продължи
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
