.header{
    text-align: left;
    font-size: 24px;
    letter-spacing: 0px;
    color: #4e4039;
    opacity: 1;
    margin-bottom: 0px;
    margin-right: 50px;
    font-weight: bold;
  }
  
  
  .inner-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .tab{
    text-align: left;
    font-size: 20px;
    letter-spacing: 0px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  
  
  
  .active{
    border-bottom: 4px solid #414141;
    color: #414141;
  }
  
  
  .unactive{
    border-bottom: 2px solid #414141;
    color: #414141;
    opacity: 0.5;
  }
  
  
  
  
  .teab-wrapper{
    display: flex;
  }
  
  
  .list-wrapper{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .header-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 50px;
    margin-bottom: 19px;
    border-bottom: 2px solid #414141;
  }
  
  
  .header-button{
    background: #EF814F 0% 0% no-repeat padding-box;
    border: 1px solid #EF814F;
    background-color: #EF814F !important;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .button-text{
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  
  @media only screen and (max-width: 552px) {
      .header-wrapper{
        margin-top: 0px;
        margin-right: 6%;
        margin-left: 6%;
        border-bottom: none;
        margin-bottom: 0px;
      }
    }
  