<section class="vh-100" class="wrapper" *ngIf="claimData">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px; margin: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 form-header">
                    <p class="header-text"> Претенция Nº{{claimData.claimNumber}}</p>
                </div>
                  <div class="info-box">
                    <div >
                        <div class="info-line">
                            <div>
                            <p> Подадена на  </p>
                            <p> Име</p>
                            <p>ЕГН </p>
                            <p>Вид на претенцията </p>
                            <p>Детайли на претенцията </p>
                            <p>Заявена сума</p>
                            <p>Остаъчна сума</p>
                            <p  *ngIf="claimData.files">Прикачени файлове ({{ file_store.length }})</p>
                            </div>
                            
                            <div *ngIf="claimData">
                                <div class="info-data">{{claimData.claimDate | date: 'dd.MM.yyyy'}}</div>
                                <div class="info-data"> {{claimData.name}}</div>
                                <div class="info-data"> {{claimData.egn}}</div>
                                <div class="info-data"> {{claimData.category}}</div>
                                <div class="info-data"> {{claimData.type}}</div>
                                <div class="info-data"> {{claimData.sum}} </div>
                                <div class="info-data"> {{maxLimit}} </div>
                                <div *ngIf="claimData.files">
                                  <div *ngFor="let file of file_store, let i=index" class="info-data" style="display: flex;">
                                    <mat-icon mat-list-icon (click)="previewFile(file)" class="icon" style="margin-right: 10px">insert_drive_file</mat-icon>
                                    <div mat-line>{{file.type}} - {{file.name}} <span></span></div>
                                  </div>
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>
                </div>
                <div class="button-wrapper">
                    <button mat-raised-button color="warn" (click)="sendAnswerDeclined()">Откажи претенцията</button>
                    <button mat-raised-button style="background-color: green; color: white;" (click)="sendAnswerApproved()">Потвърди претенцията</button>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  