<section class="vh-100" class="wrapper">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div>
        <div class="card text-black" style="border-radius: 25px; margin: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div
                style="
                  border-radius: 200px;
                  height: 200px;
                  width: 200px;
                  background: #f7eae0;
                  margin: 0 auto 30px;
                "
              >
                <i class="checkmark">✓</i>
              </div>
              <h1>Полица <b> Nº{{policyNum}}</b> e издадена успешно! </h1>
              <p>
                <span *ngIf="newRegistration == true"><br> На посочената от вас поща сме изпратили вашият код за достъп до системата.
                Моля, имайте предвид, че ако сте застраховали непълнолетно лице, то в системата се влиза с ЕГН на застраховащия,
                а не на застрахования! </span>
              </p>
              <p>
                Вие направихте мъдър избор като защитихте здравето си и на
                Вашето семейство.
              </p>
              <p>
                Ние сме изключително благодарни, че сте избрали нашата
                застрахователна компания. Ние се гордеем с качеството на нашите
                здравни застраховки и уверяваме Ви, че сме Ви осигурили
                най-доброто покритие, за да можете да се чувствате спокойни и
                сигурни във всеки момент.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
