/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fef8f5 !important;}

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white;
}

.mat-form-field-infix{
    display: flex !important;
}
