<section class="vh-100" class="wrapper">
  <form [formGroup]="form">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px; margin: 25px">
          <div class="card-body p-md-5">
            <p
              class="text-center h1 fw-bold form-header"
            >
              Подаване на здравна претренция
            </p>
            <div class="field-wrapper">
              <div
                class="fw-bold form-header"
              >
                <label >Данни на застрахованото лице</label>
              </div>

              <div
                class="form-field "
              >
              <!-- <mat-form-field class="example-full-width field" >
                <mat-label >ЕГН</mat-label>
                <input matInput formControlName="egn" >
                <mat-error *ngIf="this.form.controls.egn.errors?.personalId">
                  Невалидно ЕГН
                </mat-error>
              </mat-form-field> -->
              <mat-form-field>
                <mat-label>ЕГН</mat-label>
                <mat-select formControlName="egn" >
                  <mat-option *ngFor="let user of userInformation" [value]="user.egn" (click)="setUser(user)">{{user.egn}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width field" >
                <mat-label>Име</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width field" >
                <mat-label>Телефонен номер</mat-label>
                <input matInput>
              </mat-form-field> -->
              </div>
            </div>
              <div class="field-wrapper">
                <div
                class="fw-bold form-header"
                >
                  <label >Претенцията се отнася за: </label>
                </div>
  
                <div
                class="form-field "
                >
                <mat-form-field>
                  <mat-label>Категория на претенцията</mat-label>
                  <mat-select formControlName="category" >
                    <mat-option *ngFor="let cat of categories" [value]="cat.category" (click)="getTypes(cat.id)">{{cat.category}}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
              </div>
              <div class="field-wrapper" *ngIf="types">
                <div
                class="fw-bold form-header"
                >
                  <label >Изберете типа на претенцията</label>
                </div>
  
                <div
                class="form-field "
                >
                <mat-form-field>
                  <mat-label>Тип на претенцията</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type.type">{{type.type}}</mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
              </div>
              <div class="field-wrapper">
                <div
                  class="fw-bold form-header"
                >
                  <label >Въведете обща сума на претенцията</label>
                </div>
  
                <div
                  class="form-field "
                >
                <mat-form-field class="example-full-width field" >
                  <mat-label>Сума</mat-label>
                  <input matInput formControlName="sum">
                </mat-form-field>
                </div>
              </div>
              <div class="field-wrapper">
                <div
                  class="fw-bold form-header"
                >
                  <label >Въведете IBAN, на който искате <br> сумата да бъде изплатена</label>
                </div>
  
                <div
                  class="form-field "
                >
                <mat-form-field class="example-full-width field" >
                  <mat-label>IBAN</mat-label>
                  <input matInput formControlName="iban">
                </mat-form-field>
                </div>
              </div>


              <div class="field-wrapper">
                <div
                  class="fw-bold form-header"
                >
                <label >Прикачете вашия файл</label>
                </div>
              </div>
              
              <div style="margin-top: 10px; padding-left: 50px; padding-right: 50px;">
                <app-file-uploader (updatedFiles)="updatedFiles($event)"></app-file-uploader>
              </div>

              <div class="button-wrapper">
                <button type="button" class="btn submit" (click)="sendNewClaim()">
                  Подай претенция
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
