.image{
    width: 100%;
    float: left;
    margin-right: -100%;
    display: block;
    z-index: -1 !important;
}

.slide-content{
    border-radius: 3px;
    background-color: white !important;
    width: 25%;
    padding: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
 

    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    height: 150px;
    opacity: 80%;
}
.container{
    margin-right: auto;
    margin-left: auto;
}

.section-title{
    font-size: 48px;
    font-size: 3em; 
    font-weight: 300;
    margin-bottom: 80px;
    text-align: center;
    display: block; 
    margin-top: 50px;
}

.section-subtitle{
    font-size: 30px;
    font-size: 1.875em;
    color: #9ba1a6;
    margin-top: -50px;
    margin-bottom: 50px;
    font-weight: 300;
    text-align: center;
    display: block;
}

.row{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}

.feature{
    margin-bottom: 30px;
    text-align: center;
}

.feature .feature-title{
    font-size: 20px;
    font-size: 1.25em;
    margin-bottom: 10px;
    color: #0f75bd;
    font-weight: 400;
}
.wrapper{
    width: 200px;
}
/* .submit {
    cursor: pointer;
      border-radius: 5em;
      color: #fff;
      background: #EF814F;
      border: 0;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 14px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  .submit:hover{
    background-color: white;
    color: #EF814F;
    border: 1px solid #EF814F

  } */