<section class="vh-100" class="wrapper">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px; margin: 25px">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 form-header">
                    <p class="header-text"> Претенция Nº021555548/584/125</p>
                </div>
                  <div class="info-box">
                    <div >
                        <div class="info-line">
                            <div>
                            <p> Подадена на  </p>
                            <p> Име</p>
                            <p>ЕГН </p>
                            <p>Вид на претенцията </p>
                            <p>Детайли на претенцията </p>
                            <p>Заявена сума</p>
                            <p>Остаъчна сума</p>
                            <p>Прикачени документи </p>

                            </div>
                            
                            <div>
                                <div class="info-data">13.03.2023</div>
                                <div class="info-data"> Гери Христозова</div>
                                <div class="info-data"> 0049137550</div>
                                <div class="info-data"> Дентална помощ</div>
                                <div class="info-data"> Профилактика</div>
                                <div class="info-data"> 200лв </div>
                                <div class="info-data"> 210лв </div>
                            </div>
                        </div>

                    </div>
                  </div>
                </div>
                <div class="button-wrapper">
                    <button mat-raised-button color="warn" (click)="sendAnswerDeclined()">Откажи претенцията</button>
                    <button mat-raised-button style="background-color: green; color: white;" (click)="sendAnswerApproved()">Потвърди претенцията</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
  
  